
.anmeldung{
 position: fixed;
 right: 0;
 top: 0;
 bottom: 0;
 width: 430px;
 max-width: 85%;
 background: white;
 color: black;
 padding: 27px;
 overflow: hidden;
 overflow-y: auto;
 z-index: 2000;
 line-height: 1.1;
 transition: .35s all ease;
 &--hidden{
  transform: translateX(100%);
 }
 &__close{
  float: right;
  font-weight: 100;
  font-size: 26px;
  cursor: pointer;
  img{
    height: 25px;
  }
 }
 p{
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
 }
 a, button{
  font-weight: bold;
  font-size: 12px;
  margin: 6px 0 0 0;
  display: inline-block;

  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
 }

 input{
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 27px;
  letter-spacing: 1px;
  font-weight: 600;
  display: block;
  width: 100%;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    opacity: 1;
    transition: .2s all ease;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
    transition: .2s all ease;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: black;
    opacity: 1;
    transition: .2s all ease;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: 1;
    transition: .2s all ease;
  }
  &:active, &:focus{
    outline: none;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: black;
      opacity: .4;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: black;
      opacity: .4;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: black;
      opacity: .4;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: black;
      opacity: .4;
    }
  }
 }
}