.portfolio{
  &__item{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      transition: 1.3s all ease-in-out;
    }
    .portfolio__item__overlay{
      p{
        margin-bottom: -2px;
      }
    }
    &--active{
      img{
        transform: scale(1.1);
      }
      .portfolio__item__overlay{
        opacity: 1;
        background: rgba(0,0,0,.38);
        p{
          transform: translateX(0px);
          &:nth-child(2){
            transition-delay: .055s;
          }
          &:nth-child(3){
            transition-delay: .11s;
          }
        }
      }
    }
    &:hover, &:focus, &:active{
      img{
        transform: scale(1.1);
      }
      .portfolio__item__overlay {
        opacity: 1;
        background: rgba(0,0,0,1);
        p{
          transform: translateX(0px);
          &:nth-child(2){
            transition-delay: .055s;
          }
          &:nth-child(3){
            transition-delay: .11s;
          }
        }
      }
    }

    &__overlay{
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,.4);
      color: white;
      transition: .4s all ease-in-out;

      p{
        transition: .4s all ease-out;
        transform: translateX(-50px);
      }
    }
  }
}
