<template>
  <div>
    <header class="header header--light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3">
          </div>
          <div class="col-xs-6">
          </div>
          <div class="col-xs-3">
            <a v-link="{ name: 'home' }" class="header__more">
              <img src="img/cross.png" alt="Details schliessen">
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid -->
    <section class="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-3 about-address">

            {{{ about.address.value }}}

            <div class="team visible-xs mt30">
              <h4>Team</h4>
              <div v-for="member in team" class="team__member">
                <p>{{ member.name }}</p>
                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            {{{ about.content.value }}}
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="team hidden-xs">
              <h4>Team</h4>

              <div v-for="member in team" class="team__member">
                <p>{{ member.name }}</p>
                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
              </div>

            </div>

            <a href="{{ about.werkliste }}" class="dib mt30 mb30" target="_blank">Download Werkliste</a>

            <div class="impressum">
              <p class="impressum__title">Impressum</p>
              <div class="impressum__content">
                {{{ about.impressum.value }}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

  export default {
    props: ['about', 'team'],


    head: {
      title: {
        inner: 'About',
        separator: '–'
      },
      // Meta tags
      meta: function(){
        return [
          { name: 'description', content: 'Architekt St.Gallen, junger Architekt St.Gallen, Architekturen, Architekten St.Gallen, Atelier, Studio, kreativer Architekt, Handwerk und Architektur, Holzbauarchitektur, Holzhaus, Vorarlberg, Wohnbau, öffentliche Bauten, Schulbauten, Kanton St.Gallen, Archithese, BSA, SIA, FSAI, Architekurwettbewerbe Nachwuchsbüro Architektur, ETH, FH, Fachhochschule St.Gallen, Design, Möbelbau, Innenarchitektur, Raumgestaltung, Architekturtheorie, Schweiz, Paris, Hans Kollhoff, Gähler Architekten, Barao Hutter, Stadt St.Gallen, Bauleitung St.Gallen, Baumanagement St.Gallen, Kunst am Bau, Alterswohnungen, Objektgestaltung, Städtebau. Raumplanung, Jury, Hochparterre, Werk Bauen Wohnen, Bauwerk, Finger Architekten, Jeannette Geissmann Architektin, Jens Eggel', id: 'desc' }, // id to replace intead of create element
          { property: 'og:title', content: 'Tom Munz Architekt St. Gallen' },
          // with shorthand
          { property: 'og:image', content: 'https://example.com/image.jpg' },
          ]
        },
      // link tags
      link: [
      ]
    },

    ready(){

      $('body').on('touchend',function(){
        $('.impressum').removeClass('impressum--active');
        $('.team__member').removeClass('team__member--active');
      });

      $('.impressum').on('touchend',function(){
        $(this).addClass('impressum--active');
      });

      $('.team__member').on('touchend',function(){
        $(this).addClass('team__member--active');
      });

    },
    methods: {
    }
  };
</script>

