<template>
  <div>
    <div class="anmeldung" :class="{'anmeldung--hidden': eventHidden}">
      <span class="anmeldung__close" @click="eventHidden = true">
        <img src="img/cross.png" alt="Einladung schliessen">
      </span>
      
      <p>
        Danke für die<br>
        Anmeldung
      </p>
    </div>

    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <a v-link="{ name: 'home' }" class="header__brand">architekt</a>
          </div>
          <div class="col-xs-6">
            <a v-link="{ name: 'home' }" class="header__brand header__brand__name">tom munz</a>
          </div>
          <div class="col-xs-3">
            <a v-link="{ name: 'about' }" class="header__more header__plus">
              <img src="img/plus.png" alt="Details öffnen">
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid -->
    <section class="portfolio">
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-6 col-md-3" v-for="project in projects">
            <a v-link="{ name: 'project-show', params: { projectSlug: project.slug }}" class="portfolio__item">
              <img v-bind:src="project.media[0].preset_paths.medium" alt="">
              <div class="portfolio__item__overlay">
                <p>{{ project.number }}</p>
                <p>{{ project.name }}</p>
                <p>{{ project.phase }}</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>

  export default {
    props: ['csrf', 'projects', 'about', 'team', 'eventHidden'],
    data() {
      return {
      };
    },
    ready(){
    },
    methods: {
    },

  };
</script>
