<template>
  <div>
    <div class="anmeldung" :class="{'anmeldung--hidden': eventHidden}">
      <span class="anmeldung__close" @click="eventHidden = true">
        <img src="img/cross.png" alt="Einladung schliessen">
      </span>
      
      <p>trois raisons <br>
        Anmeldung</p>

        <p class="mt30">6. Oktober 2016 <br>
          ab 17.30 Uhr <br>
          Hintere Poststr. 18</p>

          <a href="https://www.google.ch/maps/place/Tom+Munz+Architekt/@47.4266153,9.3731698,15z/data=!4m2!3m1!1s0x0:0x5b40ba306c8cd4b2?sa=X&ved=0ahUKEwjOwJvZv4rPAhVEahoKHWXRCkgQ_BIIdzAR">Google Maps</a>

          <p class="mt30">Umzug in neue Büroräume. Drei Jahre Tom Munz GmbH. Relaunch der neuen Website. Drei gute Gründe für ein Fest. Dieses möchten wir mit Ihnen/Dir feiern. Anmeldung bis zum 28. September 2016.</p>

          <form method="POST" action="/anmeldung" class="mt50">
            <input type="hidden" name="_token" value="{{ csrf }}">
            <input type="text" placeholder="Vorname, Name" name="name" required>
            <input type="email" placeholder="Email-Adresse" name="email" required>
            <input type="text" placeholder="Anzahl Personen" name="people" required>
            <button type="submit">Anmeldung absenden</button>
          </form>

        </div>
        <header class="header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-3">
                <a v-link="{ name: 'home' }" class="header__brand">architekt</a>
              </div>
              <div class="col-xs-6">
                <a v-link="{ name: 'home' }" class="header__brand header__brand__name">tom munz</a>
              </div>
              <div class="col-xs-3">
                <a v-link="{ name: 'about' }" class="header__more header__plus">
                  <img src="img/plus.png" alt="Details öffnen">
                </a>
              </div>
            </div>
          </div>
        </header>

        <!-- Portfolio Grid -->
        <section class="portfolio">
          <div class="container-fluid">
            <div class="row">

              <div class="col-sm-6 col-md-3" v-for="project in projects">
                <a v-link="{ name: 'project-show', params: { projectSlug: project.slug }}" class="portfolio__item">
                  <img v-bind:src="project.media[0].preset_paths.medium" alt="">
                  <div class="portfolio__item__overlay">
                    <p>{{ project.number }}</p>
                    <p>{{ project.name }}</p>
                    <p>{{ project.phase }}</p>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </section>
      </div>
    </template>

    <script>

      export default {
        props: ['csrf', 'projects', 'about', 'team', 'eventHidden'],
        data() {
          return {
          };
        },
        ready(){
        },
        methods: {
        },

      };
    </script>

    <style>

    </style>
