<template>
  <div>

    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <p class="header__brand">architekt</p>
          </div>
          <div class="col-xs-6 col-sm-6">
            <p class="header__brand header__brand__name">tom munz</p>
          </div>
          <div class="col-xs-3">
            <a v-link="{ name: 'about' }" class="header__more header__plus">
              <img src="img/plus.png" alt="Details öffnen">
            </a>
          </div>
        </div>
      </div>
    </header>


    <!-- Portfolio Grid -->
    <section class="portfolio">
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-6 col-md-3" v-for="project in projects">
            <a v-link="{ name: 'project-show', params: { projectSlug: project.slug }}" class="portfolio__item">
              <img v-bind:src="project.media[0].preset_paths.medium" alt="">
              <div class="portfolio__item__overlay">
                <p>{{ project.number }}</p>
                <p>{{ project.name }}</p>
                <p>{{ project.phase }}</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>

  export default {
    props: ['projects', 'about', 'team', 'eventHidden'],
    data() {
      return {
      };
    },
    ready(){

      // Enable "hover" for touch devices
      $('a.portfolio__item').on("touchend", function (e) {
        "use strict"; //satisfy the code inspectors
        var link = $(this); //preselect the link
        var reference = $(this);

        if (reference.hasClass('portfolio__item--active')) {
          return true;
        } else {
          reference.addClass("portfolio__item--active");
          $('a.portfolio__item').not(this).removeClass("portfolio__item--active");
          e.preventDefault();
            return false; //extra, and to make sure the function has consistent return points
          }
        });
    },
    methods: {
    },

  };
</script>

<style>

</style>
