<template>
  <div>
    <header class="header header--light-text">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <p class="header__details">Details</p>
          </div>
          <div class="col-xs-6">
          </div>
          <div class="col-xs-3">
            <span class="pull-right project__position">/</span>
            <a v-link="{ name: 'home' }" class="header__more">
              <img src="img/cross.png" alt="Projekt schliessen">
            </a>
          </div>
        </div>
      </div>
    </header>

    <section class="project" v-if="project">

      <div v-if="project.media && ( project.media.length < 2 )" class="project__slide">
        <div class="project__slide__wrapper">
          <div class="project__slide__content text-center">
            <h1>{{ project.name }}</h1>
            <p>Keine Bilder vorhanden.</p>
          </div>
        </div>
      </div>

      <div class="project__slide" v-for="image in project.media" track-by="$index" v-if="$index > 0">

        <div class="project__slide__wrapper">
          <div class="project__slide__content">
            <img v-if="project.media[$index]['height'] > project.media[$index]['width']" class="imgH" :src="image.preset_paths.optimized" data-height="{{ project.media[$index]['height'] / 2 }}" data-width="{{ project.media[$index]['width'] / 2 }}" v-bind:style="'height:' + project.media[$index]['height'] / 2 + 'px';" :alt="project.name">
            <img v-if="project.media[$index]['height'] <= project.media[$index]['width']" class="imgW" :src="image.preset_paths.optimized" data-height="{{ project.media[$index]['height'] / 2 }}" data-width="{{ project.media[$index]['width'] / 2 }}" v-bind:style="'width:' + project.media[$index]['width'] / 2 + 'px';" :alt="project.name">
          </div>
        </div>

      </div>

    </section>

    <div class="project__pointer">
      <img src="img/arrow.png" alt="">
    </div>

    <div class="project__details">
      {{{ project.details }}}
      {{{ project.description }}}
    </div>

    <div class="project__details__trigger"></div>
  </div>
</template>

<script>
  export default {
    props: ['projects', 'about', 'team'],

    route: {
      canReuse: false,

      activate(transition){

        const projectSlug = this.$route.params.projectSlug;

        var result = $.grep( this.projects, function(e){ return e.slug == projectSlug; });
        
        this.project = result[0];

        if (result.length == 0) {
            // not found
            transition.redirect({ name: 'notfound' });
          } else if (result.length == 1) {
            // access the foo property using result[0].foo
            transition.next();
          } else {
            // multiple items found
          }
        }
      },

      data() {
        return {
          project: [],
        };
      },

      head: {
        title: function(){
          return {
            inner: this.project.name,
            separator: '–'
          }
        },
      // Meta tags
      meta: function(){
        return [
          { name: 'description', content: this.project.meta_description }, // id to replace intead of create element
          { property: 'og:title', content: this.project.name },
          // with shorthand
          { property: 'og:image', content: this.project.media[0].preset_paths.optimized },
          ]
        },
      // link tags
      link: [
      ]
    },

    ready() {
      setTimeout(function(){
        $('.project').slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,

          arrows: true,
          focusOnSelect: true,

          prevArrow: '<div class="project__arrow project__arrow--prev"></div>',
          nextArrow: '<div class="project__arrow project__arrow--next"></div>',
        });

        function resizeImages(){
          // console.log('Resize called');
          $('.project__slide__content img').each(function(index){
            var imgWidth = $(this).width();
            var imgHeight = $(this).height();

            var imgInitalWidth = $(this).attr('data-width');
            var imgInitalHeight = $(this).attr('data-height');

            var imgRatio = imgInitalWidth / imgInitalHeight;
            var contentHeight = $('.project__slide__content').height()
            var contentWidth = $('.project__slide__content').width();
            var contentRatio = contentWidth / contentHeight

            // console.log('Image Height: ', imgHeight, 'Img Width: ', imgWidth, 'Img Ratio: ', imgRatio, 'Img Initial Width: ', imgInitalWidth, 'Img Initial Height: ', imgInitalHeight, 'content Width: ', contentWidth, 'Content Height: ', contentHeight, 'content Ratio: ', contentRatio);

            if (imgInitalHeight >= contentHeight && imgRatio < contentRatio) {
              $(this).height(contentHeight);
              $(this).width('auto');
            }

            if (imgInitalHeight >= contentHeight && imgRatio > contentRatio) {
              $(this).width(contentWidth);
              $(this).height('auto');
            }
            
            if (imgInitalWidth >= contentWidth && imgRatio > contentRatio) {
              $(this).width(contentWidth);
              $(this).height('auto');
            }
          });
        };

        // On after slide change
        $('.project').on('afterChange', function(slick, currentSlide){

          var totalSlides = $('.project').slick('getSlick').$slides.length;
          var currentSlidePosition = $('.project').slick('slickCurrentSlide') + 1;
          var slidePosition = currentSlidePosition + '/' + totalSlides;
          $('.project__position').text(slidePosition);

          if ( (currentSlide.currentSlide + 1) != $('.project').slick('getSlick').$slides.length ) {
            $('.slick-slide:eq(' + currentSlide.currentSlide + ')').focus();
          }

          resizeImages();
        });


        $('.slick-slide:eq(' + $('.project').slick('slickCurrentSlide') + ')').focus();

        var totalSlides = $('.project').slick('getSlick').$slides.length;
        var currentSlide = $('.project').slick('slickCurrentSlide') + 1;
        var slidePosition = currentSlide + '/' + totalSlides;
        $('.project__position').text(slidePosition);



        $('.project__slide__content img').first().load(function(){
          resizeImages();
        });

        $('.project__slide__content img').last().load(function(){
          resizeImages();
        });


          // How to detect a touch enabled device
          // http://stackoverflow.com/questions/4817029/whats-the-best-way-to-detect-a-touch-screen-device-using-javascript/4819886#4819886
          function is_touch_device() {
            return 'ontouchstart' in window        // works on most browsers 
                || navigator.maxTouchPoints;       // works on IE10/11 and Surface
              };

          // Enable Swipe Slider, if the browser is touch enabled
          if ( is_touch_device() ) {
            $('.project__arrow').hide();
          }

          $( window ).resize(function() {
            resizeImages();
          });


          $('.header__details').on('mouseover', function(){
            $('.project__details').addClass('project__details--visible');
          });
          $('.project__details__trigger').on('mouseover', function(){
            $('.project__details').addClass('project__details--visible');
          });

          $('.project__details').on('mouseleave', function(){
            $('.project__details').removeClass('project__details--visible');
          });

          $('.project').on('click', function(){
            $('.project__details').removeClass('project__details--visible');
          });

          $(document).bind('mousemove', function(e){
            $('.project__pointer').css({
             left:  e.pageX - 15,
             top:   e.pageY - 12
           });
          });

          $('.project__arrow--next').mouseenter(function(){
            $('.project__pointer').addClass('project__pointer--right');
            $('.project__pointer').addClass('project__pointer--visible');
          });
          $('.project__arrow--next').mouseleave(function(){
            $('.project__pointer').removeClass('project__pointer--right');
            $('.project__pointer').removeClass('project__pointer--visible');
          });


          $('.project__arrow--prev').mouseenter(function(){
            $('.project__pointer').addClass('project__pointer--left');
            $('.project__pointer').addClass('project__pointer--visible');
          });
          $('.project__arrow--prev').mouseleave(function(){
            $('.project__pointer').removeClass('project__pointer--left');
            $('.project__pointer').removeClass('project__pointer--visible');
          });

        }, 1);


},

};
</script>

<style>

</style>
