<template>

  <router-view transition="fade2" transition-mode="out-in" :csrf="csrf" :projects="projects" :about="about" :team="team">

</router-view>

</template>
<script>

  export default {

    props: ['csrf'],

    route: {
      activate: function(transition){          

        this.$http.get('/api/data').then((response) => {
          // success callback

          this.projects = response.data.projects;
          this.about = response.data.about;
          this.team = response.data.team;

          transition.next();
          return true;
        }, (response) => {
          // error callback
          // console.log('error');
          //transition.reject(response);
          transition.abort();
          return false;
        });
      },
      waitForData: true
    },

    data() {
      return {
        projects: [],
        about: {},
        team: [],
      };
    },

    ready(){
      this.$broadcast('projectsLoaded', this.projects);
    },
    methods: {
    },


  };
</script>
