// .item-box-borderless { border: none; border-radius: none; box-shadow: none; }
// .item-box-white-bg { background: #ffffff; }
// .item-box-close { cursor: pointer; }


/* General */
body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 2000;
}



.items {
	list-style: none;
}

.items li {
	display: block;
}

.items li.placeholder {
	padding: 0;
	position: relative;
	background:#EAF2F8;
	height: 42px;
	border-radius:4px;
	border:1px dashed #ddd;
}

.item-name {

	display: inline-block;
	padding:0 12px;

}

.item-status {
	padding-right:8px;
	color:#999;
}

.panel {

	.panel-menu {

		margin:6px 0;
		padding:0;

		.panel-heading,
		.panel-footer {
			padding-right: 0;
			padding-left: 0;
			margin-right: auto;
			margin-left: auto;
			border:none;
		}

		.panel-heading {

			background:#f7f7f7;
			cursor: pointer;

			&:hover {
				background: #ffffff;
			}

		}

		.panel-heading .panel-close:after {
			font-family: 'FontAwesome';
			content: "\f205";
			float: right;
		}
		.panel-heading .panel-close.collapsed:after {
			content: "\f204";
		}

		.panel-body {

			border-top:1px solid #ddd;
			padding:0 16px;

			legend {
				span {
					font-size:12px;
					cursor: pointer;
					display: inline-block;
					padding:4px 8px 0 8px;

					border-left:1px solid #ddd;

					&:last-child {
						border-left:none;
					}
					&:hover {
						color:#428bca;
					}
				}
			}

		}

		.panel-close {
			display: inline-block;
			padding: 3px 16px 0 16px;
			border-left:1px solid #ddd;
		}
	}
}

.new-item {
	display: inline-block;
	border-right:1px solid #ddd;
	padding:0 12px;
	z-index: 2000;
}

.no-items {
	padding:32px 0;
}
.items {
	padding-left:0;
}

.item-form {
	padding-bottom:8px;
}

.item-handle {
	cursor: move;
	display: inline-block;
	border-right:1px solid #ddd;
	padding:0 12px;
	z-index: 2000;
}




