/**
 * Part of the Platform Media extension.
 *
 * NOTICE OF LICENSE
 *
 * Licensed under the Cartalyst PSL License.
 *
 * This source file is subject to the Cartalyst PSL License that is
 * bundled with this package in the LICENSE file.
 *
 * @package    Platform Media extension
 * @version    4.0.0
 * @author     Cartalyst LLC
 * @license    Cartalyst PSL
 * @copyright  (c) 2011-2016, Cartalyst LLC
 * @link       http://cartalyst.com
 */
 div.overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
}
div.overlay i.fa-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
}


$blue: #337ab7;
$light-grey: #a0a0a0;

.modal-media {
 margin-left:auto;
 margin-right:auto;
}

.upload {
   padding:16px;
}

.upload__instructions {

	position: relative;
	border:2px dashed #ddd;
	padding:8px;
	margin-bottom:8px;
	text-align: center;

	.fa-upload {
		padding:16px 0;
	}

}

.upload__files {
	text-align: left;
	margin-bottom:8px;
	max-height: 280px;
	overflow-y:auto;

	.form-group {
		border-bottom: none;
		padding-bottom:0;
	}

	.selectize-control {
		padding-top:5px;
		width:147px;

		input { font-size:11px;}
	}
}

.upload__select {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.upload__select-text {
	padding-top:6px;
}

.upload__select-input {
	cursor: pointer;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	top: -10px;
	right: -40px;
	font-size: 50px;
	position: absolute;
}

.dnd {
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.1);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.file {

	border-bottom:1px dashed #eee;
	padding-bottom:2px;

	.file-size {
		width:90px;
		overflow: hidden;
	}

	.file-progress,
	.file-success,
	.file-error {
		display: none;
	}

	.file-error-help {
		font-style: italic;
		font-size:10px;
		padding:4px 0;
	}
}

.panel-file-details {

	text-align: center;

	.panel-body {

		.fa {
			margin:32px auto 16px auto;
		}

		.image {
			margin:12px 8px;
			padding:4px;
			border:1px solid #ddd;
			img {
				max-width: 100%;
				width: auto   9;
				height: auto;
				vertical-align: middle;
				border: 0;
				-ms-interpolation-mode: bicubic;
			}
		}
	}

	h3 {
		margin:0;
		padding-bottom:16px;
	}
}


// Style Additions

.mb15{
    margin-bottom: 15px;
}
.mt5{
    margin-top: 5px;
}

.modal-media-selection{
    .modal-header{
        padding: 15px;
        display: flex;
        flex-direction: row;

        .modal-header-left, .modal-header-right{
            flex-shrink: 1;
        }
        .modal-header-right{
            display: flex;
            flex-direction: row;
            flex-basis: 50%;
            .close{
                flex-shrink: 0;
                margin-left: 10px;
            }
        }
        .modal-header-center{
            flex-grow: 1;
            text-align: center;
        }
    }

    .modal-footer{
        padding: 30px;
        display: flex;
        flex-direction: row;
        #data-grid_pagination{
            display: flex;
            flex-direction: row;
            flex: 1 1 0%;
            box-sizing: border-box;
        }
        .pagination{
            margin: 0;
        }
    }
}

.modal-title{
    line-height: 34px;
    font-weight: 400;
    color: $light-grey;
}

.flex{
    flex: 1 1 0%;
    box-sizing: border-box;
}

.modal-header-search{
    display: flex;
    flex-direction: row;
    input{
        display: inline-block;
        border: none;
        padding: 6px 12px;
    }
    i.fa-search{
        position: relative;
        top: 9px;
        color: $light-grey;
    }
}

.modal-header-icon{
    font-size: 18px;
    margin-right: 12px;
    line-height: 34px;
    color: $light-grey;
    transition: .2s all ease-in-out;
    &:hover, &:active, &:focus, &.active{
        text-decoration: none;
        color: $blue;
    }
}

.modal-media-selection .modal-dialog {
    @media screen and (min-width: 768px) {
        width: 80%;
        margin: 30px auto;
    }
}

.media-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .media-item{
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 0 10px;
        margin-bottom: 10px;
        .media-img{
            display: block;
            width: 100%;
            height: 240px;
            background: #f0f0f0 url() center center no-repeat;
            background-size: cover;
            border-radius: 4px;
            //border: 2px solid transparent;
            overflow: hidden;
            margin-bottom: 8px;
            position: relative;
            transition: .2s all ease-in-out;
            &:hover{
                cursor: pointer;
            }

            &:after{
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                transform: translate(0, 0);
                content: "\f00c";
                font-size: 16px;
                background: transparent;
                color: transparent;
                position: absolute;
                top: 5px;
                left: 5px;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                text-align: center;
                line-height: 22px;
                border: 2px solid $blue;
                transition: .2s all ease-in-out;
            }
        }
        .media-title{
            display: block;
            font-size: 14px;
            word-break: break-all;
            max-height: 153px;
            overflow: hidden;
        }
        .media-date{
            display: block;
            font-size: 12px;
            color: $light-grey;
        }
        @media screen and (min-width: 768px) {
            flex: 1 1 33.3%;
            max-width: 33.3%;
            div.media-img{
                height: 130px;
            }
        }
        @media screen and (min-width: 1000px) {
            flex: 1 1 25%;
            max-width: 25%;
            div.media-img{
                height: 130px;
            }
        }
        @media screen and (min-width: 1200px) {
            flex: 1 1 16.6%;
            max-width: 16.6%;
            div.media-img{
                height: 130px;
            }
        }
        @media screen and (min-width: 1441px) {
            flex: 1 1 14.25%;
            max-width: 14.25%;
            div.media-img{
                height: 130px;
            }
        }
        @media screen and (min-width: 1640px) {
            flex: 1 1 12.5%;
            max-width: 12.5%;
            div.media-img{
                height: 130px;
            }
        }
        @media screen and (min-width: 1840px) {
            flex: 1 1 11.1%;
            max-width: 11.1%;
            div.media-img{
                height: 130px;
            }
        }
        @media screen and (min-width: 2000px) {
            flex: 1 1 10%;
            max-width: 10%;
            div.media-img{
                height: 130px;
            }
        }
        @media screen and (min-width: 2200px) {
            flex: 1 1 9%;
            max-width: 9%;
            div.media-img{
                height: 130px;
            }
        }
    }
    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    input[type=checkbox] ~ label{
        width: 100%;
        font-weight: normal;
    }
    input[type=checkbox]:checked ~ label div.media-img {
        border-color: $blue;
        &:after{
            background: $blue;
            color: white;
        }
    }

    input[type=checkbox]:checked ~ label:hover .media-img {
        border-color: $blue;
        &:after{
            content: "\f00d";
        }
    }

    .media-item-info{
        display: inline-block;
    }

    &.display-column{
        flex-direction: column;
        .media-item{
            max-width: 100%;
            width: 100%;
            flex-shrink: 0;
            label{
                display: flex;
                flex-direction: row;
            }

            .media-img{
                height: 40px;
                width: 60px;

                overflow: visible;
                margin-left: 35px;
                &:after{
                    left: -35px;
                }
            }
        }
        .media-item-info{
            margin-left: 8px;
        }
    }
}

.modal-selected{
    border-bottom: 1px solid #e5e5e5;
}

.inline-block{
    display: inline-block;
}
.modal-body{
    padding: 30px 15px;
}
.no-results{
    padding: 0px 10px;
    color: #9f9f9f;
}
.modal-body .btn-toolbar{
    margin-bottom: 15px;
}

.modal-selected-body{
    //height: 0;
    padding: 15px;
    overflow: hidden;
    transition: .3s transform ease-in-out;
}

.modal-selected-header{
    padding: 20px 15px;
    display: block;
    color: #9f9f9f;
    h3{
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        color: #9f9f9f;
    }
    i{
        font-size: 14px;
        color: #9f9f9f;
    }

    &:active, &:focus, &:hover{
        text-decoration: none;
    }
}

.media-no-results {
    margin: 0;
    padding-left: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #9f9f9f;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.flex{
    flex: 1;
}

.list-group-item-left{
    margin-right: 10px;
    i{
        margin-right: 5px;
        cursor: move;
    }
    img{
        max-width: 120px;
    }
}

.list-group-item-center{
    flex: 1;
}

[data-selected-media] {
    opacity: .5;
    pointer-events: none;
}

.selected-media-img {
    vertical-align: middle;
    display: inline-block;
    background: #f0f0f0 center center no-repeat;
    background-size: cover;
    border-radius: 4px;
    border: 2px solid #dddddd; //@blue
    overflow: hidden;
    margin-bottom: 0px;
    position: relative;
    transition: .2s all ease-in-out;
    height: 40px;
    width: 60px;

    overflow: visible;
    margin-left: 0px;
}

.modal-backdrop{
    position: fixed;
    pointer-events: none;
}
