.introduction {
	text-align: center;

	> header {
		padding-top:12%;
	}
}

.page {
	padding:0;
	margin:0;
	background: #000;

	.cover {
		position: absolute;
		left: 0px;
		right:0;
		top: 0px;
		bottom:0;
		width: 100%;
		height: 100%;
		background:#000;

		span {
			position: absolute;
			top:16px;
			right:32px;
			color: #fff;
			letter-spacing:2px;
			text-transform: uppercase;
			font-size:10px;
		}
	}

	.page__header {
		padding-top:4px;
		padding-bottom:4px;
		margin-bottom:16px;
	}

	.page__content {
		margin:0 16px;
		padding:0;
	}

	.nav>li>a:focus, .nav>li>a:hover {
		background-color: #000;
	}
}
