.table-schema {
	text-align: left;
	margin-bottom:4px;
	max-height: 250px;
	overflow-y:auto;
}

.extension-details {

	h2 {
		span {
			font-size:0.9em;
		}
		small {
			font-size:0.6em;
		}
	}
}

.extension-type {
	text-align: center;
	padding:8px 16px;

	i.fa {
		font-size:128px;
	}

	span {
		display: block;
		padding:8px 0;
		font-weight: bold;
	}
}

.scaffold-components {
  margin-top:32px;
  overflow: hidden;
}
.scaffold-components-list {
  padding-left: 0;
  list-style: none;
}
.scaffold-components li {
  float: left;
  width: 100px;
  height: 80px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #ddd;
  margin:2px;
}
.scaffold-components .fa {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.scaffold-components li span {
  display: block;
  text-align: center;
  font-size:12px;
}
.scaffold-components li:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

#modal-component {

	.panel-heading {

		label {
			font-weight: normal;
		}

		.form-group {
			padding:0 8px;
		}

	}

	.form-control {

		//border:0;

		&.seeder-count {
			width:100px;
		}
	}

	.form-inline {
		//border:none;
	}

	.modal-body {
		.lead {
			margin:16px 0 0 0;
		}
	}
}

