$container-padding-xs: 50px;

div[class^="col-xs-"]{
  padding-left: $container-padding-xs/2;
  padding-right: $container-padding-xs/2;
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
.container-fluid {
  @media screen and (max-width: $screen-xs-max) {
    @include container-fixed( $container-padding-xs/2 ) ;
  }
}

// Row
//
// Rows contain and clear the floats of your columns.
.row {
  @media screen and (max-width: $screen-xs-max) {
    @include make-row( $container-padding-xs ) ;
  }
}