body, *{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  // width: 100%;
  overflow-x: hidden;
}

p, h4{
  line-height: $line-height-base;
  margin-bottom: 0;
}

.white-body{
  background: white;
  color: black;
}

a{
  &:hover, &:active, &:focus{
    text-decoration: none;
  }
}

.fade-transition{
  transition: .45s all ease-out .1s;
  transform-origin: 50% 50%;
}
.fade-enter{
  will-change: transform;
  opacity: 0;
  transform: translateX(-90%) scale(1);
}
.fade-leave{
  transition: .55s all ease-in-out 0s;
  will-change: transform;
  transform: translateX(0%) scale(1);
  opacity: 0;
}


.fade2-transition{
  transition: .45s all ease-out .1s;
  transform-origin: 50% 300px;
}
.fade2-enter{
  will-change: transform;
  opacity: 0;
  transform: translateX(-400px);
  transition: .35s all ease-in-out 0s;
}
.fade2-leave{
  transition: .45s all ease-in-out 0s;
  will-change: transform;
  transform: translateX(0%) scale(.95);
  opacity: 0;
}