body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	background: #ccc;
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

.handle {
	cursor: move;
}

.options {
	list-style: none;

	li {
		margin: 4px 0;

		&.placeholder {
			padding: 0;
			position: relative;
			background: #EAF2F8;
			height: 38px;
			border-radius: 4px;
			border: 1px dashed #ddd;
			padding: 8px;
		}

		.form-group {
			border-bottom:none;
		}
	}
}
