.header{
  padding-top: 30px;
  padding-bottom: 50px;
  z-index: 10;
  position: relative;

  &__brand{
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
    color: white;

    &__name{
      white-space: nowrap;
      position: relative;
      left: 10px;
      @media screen and (min-width: $screen-md-min) {
        left: -$grid-gutter-width;
      }
    }
  }
  &__more{
    font-size: 20px;
    font-weight: normal;
    color: white;

    img{
      height: 25px;
    }
  }
  &__plus img{
    height: 20px;
  }

  &__brand, &__more{
    transition: .3s transform ease-in-out;
    display: inline-block;
    &:hover, &:active, &:focus{
      color: white;
      text-decoration: none;
      //transform: translateY(-10px);
    }
  }

  &--light{
    background: white;
    color: black;

    .header__brand, .header__more{
      color: black;
    }
  }
  &--light-text{
    color: black;

    .header__brand, .header__more{
      color: black;
    }
  }
}