.about{
  background: white;
  padding-bottom: 50px;
  color: black;
  min-height: 100vh;
  padding-top: 6px;
  margin-top: -1px;

  &__group{
    margin-bottom: 30px;
    h4{
      font-weight: 400;
      font-size: $font-size-base;
      margin-top: 0;
    }
  }
}
.about-address{
  p{
    margin-bottom: -2px;
  }
  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }
}
.team{
  line-height: $line-height-base;
  h4{
    font-size: $font-size-base;
    font-weight: 400;
    margin: 0;
    line-height: $line-height-base;
  }

  &__member{
    display: block;
    overflow-y: hidden;
    position: relative;
    //margin-bottom: 3px;
    &:last-child{
      margin-bottom: 0;
    }
    p{
      margin: 0;
      transition: .5s all ease .1s;
    }
    a{
      display: inline-block;
      transition: .5s all ease .1s;
      position: absolute;
      top: 100%;
    }

    &:hover, &:focus, &:active, &--active{
      p{
        transform: translateY(-100%);
      }
      a{
        top: -1px;
      }
    }

    @media screen and (max-width: $screen-xs-max) {
      height: auto;
      margin-bottom: 4px;
      a{
        position: static;
      }
      &:hover, &:focus, &:active, &--active{
        p, a{
          transform: translateY(0px);
        }
      }
    }
  }
}

.impressum{
  overflow: hidden;

  &__content{
    transform: translateY(-150%);
    transition: 1s all ease-out;
    position: relative;
    top: -20px;
    p{
      line-height: $line-height-base;
      margin-bottom: 15px;
    }
    @media screen and (max-width: $screen-xs-max) {
      float: none;
      transform: translateX(0);
      top: 0px;
      opacity: 1;
    }
  }
  &__title{
    transform: translateY(0);
    transition: .3s all ease-in-out .8s;
    @media screen and (max-width: $screen-xs-max) {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  &:hover, &:active, &:focus, &--active{
    .impressum__content{
      float: none;
      transform: translateX(0);
      opacity: 1;
    }
    .impressum__title{
      transform: translateY(0%);
      transition: .3s all ease-in-out 0s;
      opacity: 0;
    }
  }
}