.login{
  margin: 80px 0;
  h3{
    font-weight: 600;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
  }


  input[type="text"], input[type="email"], input[type="password"]{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 27px;
    font-weight: 600;
    display: block;
    width: 100%;
    &:active, &:focus{
      outline: none;
    }
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: black;
      opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: black;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: black;
      opacity: 1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: black;
      opacity: 1;
    }
  }

  .btn-primary{
    font-weight: 600;
    font-size: 24px;
  }
}