.project{

  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  top: 0;
  position: absolute;
  background: white;
  color: #000 !important;

  &__slide{
    height: 100%;
    &:focus{
      outline: none;
    }

    &__wrapper{
      height: 100%;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    &__content{
      margin: 0 auto;
      width: 75vw;
      height: 75vh;
      max-height: 1100px;
      max-width: 1100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;

      img{
        //max-width: 85vw;

        &.imgW{
          max-width: 100%;
        }
        &.imgH{
          max-height: 100%;
        }
      }
    }
  }

  &__details{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 380px;
    max-width: 85%;
    height: 100vh;
    background: black;
    color: white;
    padding: 30px;
    z-index: 12;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    
    transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    transition: .35s all ease;
    -webkit-transition: .35s all ease;

    p{
      transition: .35s all ease 0s;
      -webkit-transform: translateX(-150px);
      transform: translateX(-150px);
      line-height: $line-height-base;
      margin-bottom: 0;
    }
    &--visible{

      transform: translateX(0);
      -webkit-transform: translateX(0);
      p{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition-delay: .15s;
      }
    }

    &__trigger{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 50px;
      height: 100%;
      background: transparent;
      z-index: 11;
    }
  }

  &__arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: none;
    @media screen and (max-width: $screen-xs-max) {
      display: none;
      visibility: hidden;
    }
    &--prev{
      left: 0;
      z-index: 4;
    }
    &--next{
      right: 0;
      z-index: 4;
    }
  }

  &__pointer{
    position: absolute;
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;

    transition: .2s transform ease, .2s opacity ease;
    -webkit-transition: .2s -webkit-transform ease, .2s opacity ease;
    &--visible{
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
    &--right{
      transform: scale(1);
      -webkit-transform: scale(1);
    }
    &--left{
      transform: scaleX(-1);
      -webkit-transform: scale(-1);
    }

    img{
      width: 40px;
    }
  }
}

// _::-webkit-full-page-media, _:future, :root .project__slide__content{
//   margin: 150px auto 0;
// }

.slick-list, .slick-track{
  height: 100%;
}

.header__details{
  display: inline-block;
}
